.appBar__header {
  position: fixed;
  top: 0;
  right: 0;

  height: 60px;
  width: 100%;
  background-color: rgba(211, 227, 242, 0.853);
  margin-bottom: 20px;
  z-index: 99;
}

.appBar__wrapper {
  box-sizing: border-box;
  max-width: 1184px;
  margin: 0 auto;
  padding: 15px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appBar__logoBox {
  display: flex;
  gap: 6px;

  background-color: #0b44cd;
  padding: 8px;

  color: #fff;
  border-radius: 14px;
}

.appBar__logoTitle {
  font-weight: 600;
}

.appBar__link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #3470ff;
  font-size: 20px;

  transition: 0.3s;
}

.appBar__link:hover {
  color: #0b44cd;
}

.appBar__icon {
}
