.btnFavorite {
  position: absolute;

  top: 12px;
  right: 12px;

  transition: 0.2s;
  cursor: pointer;
}

.btnFavorite:hover {
  transform: scale(1.2);
}

.btnFavorite__icon {
  width: 100%;
  width: 15px;
  height: 15px;
}
