.favoritesPage_empty {
  font-size: 25px;
  color: #3470ff;
  text-align: center;
  margin-top: 22vh;
}

.favoritesPage__link {
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.favoritesPage__link:hover {
  color: #0b44cd;
}
