.home_box {
  display: block;
  margin-top: 30dvh;
  margin-left: 10dvw;
}

.home_title {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 60px;
}

.home_link {
  display: block;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  padding: 10px 22px 10px 22px;
  width: 210px;
  text-align: center;
  font-size: 20px;
  border-radius: 12px;
  background-color: #3470ff;
  color: aliceblue;
  transition: 0.3s;
}

.home_link:hover {
  background-color: #0b44cd;
}
